.spa-tabs {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.spa-tabs__tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.spa-tabs__header {
  padding: 0;
  padding-left: 100px;
  position: relative;
  margin: 0 0 15px;

  flex-shrink: 0;
}

.spa-tabs__nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}

.spa-tabs__nav-scroll {
  overflow: hidden;
}

.spa-tabs__nav {
  white-space: nowrap;
  position: relative;
  transition: transform 0.3s;
  float: left;
  z-index: 2;
  font-size: 0;
}

.spa-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #409eff;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
}

.spa-tabs__item {
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  position: relative;

  &.is-active {
    color: #409eff;
  }
}

.spa-tabs__content {
  overflow: hidden;
  position: relative;

  flex: 1;
}

.spa-tab-pane {
  height: 100%;
}

// 卡片化
.spa-tabs--border-card {
  background: #fff;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

  & > .spa-tabs__header {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e4e7ed;
    margin: 0;

    .spa-tabs__item {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      border: 1px solid transparent;
      margin-top: -1px;
      color: #909399;

      &:first-child,
      & + .spa-tabs__item {
        margin-left: -1px;
      }

      &.is-active {
        color: #409eff;
        background-color: #fff;
        border-right-color: #dcdfe6;
        border-left-color: #dcdfe6;
      }
    }
  }

  .spa-tabs__content {
    padding: 15px;
  }
}
